@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: url("background.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  background-color: #2e2e2e;
  color: white;
  display: flex;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
  position: sticky; /* Add this line */
  top: 0; /* Add this line */
  z-index: 1000; /* Add this line */
}
.nav-logo a {
  font-size: 2.3vh;
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color: inherit;
  z-index: 10000;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
}
.nav-links ul li:hover {
  color: #afcef0;
}

.nav-links ul li a {
  color: inherit;
  text-decoration: none;
  font-size: 2.2vh;
}

.wrapper {
  margin-top: 20vh;
  margin-bottom: 11vh;
  margin-left: 30px;
  /* margin-right: 30px; */
  display: flex;
  justify-content: center;
}
.wrapper2 {
  margin-top: 0;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding-top: 5vh;
}

.typewriter {
  width: 45ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2.5px solid transparent;
  line-height: 7vh;
  font-family: monospace;
  font-size: 4vh;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: black;
  }
}

.fading {
  font-family: monospace;
  text-align: left;
  animation: fadeIn 0s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  padding-bottom: 3vh;
  font-size: 2.5vh;
  color: rgb(54, 54, 54);
}
.button1 {
  display: inline-block;
  text-decoration: none;
  color: rgb(54, 54, 54);
  border: 1px solid rgb(71, 71, 71);
  padding: 12px 34px;
  font-size: 2vh;
  background: rgb(235, 235, 235);
  cursor: pointer;
  /* font-weight: bold; */
  margin-top: 5vh;
}
.button1:hover {
  background: rgb(178, 178, 178);
  transition: 0.2s;
}
nav .fa {
  display: none;
}

.nav-links.show {
  right: 0;
}

@media (max-width: 700px) {
  .typewriter {
    width: 30ch;
    animation: none;
    white-space: normal;
    overflow: hidden;
    border-right: 2.5px solid transparent;
    line-height: 5.7vh;
    font-family: monospace;
    font-size: 3.5vh;
    text-align: center;
  }
  .wrapper2 {
    padding-top: 0;
  }
  h2 {
    padding-bottom: 1vh;
    font-size: 2.5vh;
    color: rgb(54, 54, 54);
  }
  .nav-links ul li {
    display: block;
    padding-top: 10%;
  }
  nav {
    padding: 3% 5%;
  }
  .nav-links {
    position: fixed;
    background: #2e2e2e;
    height: 100%;
    top: 48px; /* changed this line, Junzhe Chen 27th Sept 2023*/
    width: 100%;
    right: -200%;
    text-align: center;
    z-index: 2;
    transition: right 0.5s;
  }
  .nav-links ul li a {
    font-size: 2.5vh;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}
