/* Please the style of this CSS is a little bit inconsistent with the main CSS, need to change to the same style later */


@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap);

* {
  margin: 0;
  cursor: url(cursor.png), auto;
  padding: 0;
}

.header {
  z-index: 1;
  position: fixed;
  width: 100%;
}

.section {
  min-height: 100vh;

  width: 100%;

  background-image: none; /*Fixed the overlapping image*/

  background-position: center;

  background-size: cover;
}

nav {
  background-color: #2e2e2e;

  color: white;

  display: flex;

  padding: 1% 6%;

  justify-content: space-between;

  align-items: center;
}

.nav-logo a {
  font-size: 2.3vh;

  font-family: "Roboto Slab", serif;

  text-decoration: none;

  color: inherit;
}

.nav-links {
  flex: 1;

  text-align: right;
}

.nav-links ul li {
  list-style: none;

  display: inline-block;

  padding: 8px 20px;

  position: relative;

  font-family: "Roboto", sans-serif;
}

.nav-links ul li:hover {
  color: #afcef0;
}

.nav-links ul li a {
  color: inherit;

  text-decoration: none;

  font-size: 2.2vh;
}

.background_container {
  background-image: url("western.jpg");
  background-position: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#divfix {
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 3000;
}

#tumbleweed {
  height: 100px;
  width: 100px;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#bounty1 {
  position: absolute;
  margin-top: 50%;
  left: 50%;
  width: 50%;
  z-index: -1;
}

#bounty2 {
  position: absolute;
  margin-top: 120%;
  right: 50%;
  width: 50%;
  z-index: -1;
}

#bountyimg {
  height: 100%;
  width: 100%;
}

#rewardtxt {
  font-family: "Papyrus", papyrus, fantasy;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 20%;
  text-align: center;
  font-size: 3vw;
}

#projecttxt {
  font-family: "Papyrus", fantasy;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 40%;
  left: 5%;
  max-width: 90%;
  text-align: center;
  font-size: 2.5vw;
}

#linktxt {
  font-family: "Papyrus", fantasy;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 70%;
  text-align: center;
  font-size: 2.5vw;
}

@media (max-width: 810px) {
  /*The purpose of changing this is to fold the navbar at the moment it cannot be displayed in a single line*/
  .typewriter {
    width: 30ch;
    animation: none;
    white-space: normal;
    overflow: hidden;
    border-right: 2.5px solid transparent;
    line-height: 5.7vh;
    font-family: monospace;
    font-size: 3.5vh;
    text-align: center;
  }
  .wrapper2 {
    padding-top: 0;
  }
  h2 {
    padding-bottom: 1vh;
    font-size: 2.5vh;
    color: rgb(54, 54, 54);
  }
  .nav-links ul li {
    display: block;
    padding-top: 10%;
  }
  nav {
    padding: 3% 5%;
  }
  .nav-links {
    position: fixed;
    background: #2e2e2e;
    height: 100%;
    top: 6%; /*Need to play around with this part in the future*/
    width: 100%;
    right: -200%;
    text-align: right;
    z-index: 2;
    transition: right 0.5s;
  }
  .nav-links ul li a {
    font-size: 2.5vh;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}
