.bounty {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    height: 50%;
    background-image: url('../images/backgrounds/background-bounty.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bounty-banner {
    width: 213.8px;
    height: 53.2px;
    margin: 1% 0;
}

.bounty-stars {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.bounty-star {
    width: 5%;
    height: 5%;
    margin: 1% 0;
}

.bounty-papers {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.bounty-paper {
    width: 25%;
    margin: 1% 2%;
}