.executive-class {
  width: 100%;
  text-align: center;
}

.executive-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 15%;
  height: 20%;
  margin: 0 2% 2%;
}

.carousel-control-prev-icon {
  background-color: black;
}

.carousel-control-prev-text {
  color: black;
  margin-left: 10px;
}

.carousel-control-next-icon {
  background-color: black;
}

.carousel-control-next-text {
  color: black;
  margin-right: 10px;
}