body {
    font-family: monospace;
}

.container-page {
    width: 100vw;
    height: 100%;
    background-image: url('../images/backgrounds/background-full-page.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-main {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 93%;
}

.custom-navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-brand {
    margin-left: 5%;
    font-family: 'roboto slab', serif;
}

.navbar-nav {
    position: absolute;
    right: 0;

    padding: 0 4%;
    background-color: #2b3035;
    border-radius: 10px;
    font-family: 'roboto slab', serif;
}

.nav-link {
    margin-right: 25px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 300px;
    max-height: 42vh;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    max-height: 11vh;
}

.announcement {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    max-height: 11vh;
    color: #280485;
}

.redirect {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    max-height: 11vh;
}